In [25]:
import requests
import pandas as pd
from bs4 import BeautifulSoup

s_no = 20250054
url = f"https://statiz.sporki.com/schedule/?m=preview&s_no={s_no}"
headers = {
  'User-Agent': 'Mozilla/5.0 (Windows NT 10.0; Win64; x64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/91.0.4472.124 Safari/537.36'
}

In [26]:
def crawl_score_values():
  try:
    response = requests.get(url, headers=headers)
    response.raise_for_status()

    soup = BeautifulSoup(response.content, 'html.parser')

    div_nums = soup.select('div.num')

    if not div_nums:
      print("div.num을 찾을 수 없음")
      return []
    
    span_values = []
    
    for i, div_num in enumerate(div_nums):
            # 해당 div 안의 모든 span 태그 찾기
      spans = div_num.find_all('span')
            
      if spans:
        for j, span in enumerate(spans):
          text = span.get_text(strip=True)
          if text:  # 빈 텍스트가 아닌 경우만 추가
            span_values.append({
              'div_index': i + 1,
              'span_index': j + 1,
              'text': text
          })
          else:
            print(f"div.num[{i+1}] 안에 span 태그가 없습니다.")
        
    return span_values
  

  except requests.RequestException as e:
    print(f"웹페이지 요청 중 오류 발생: {e}")
    return []
  except Exception as e:
    print(f"크롤링 중 오류 발생: {e}")
    return []

In [27]:
def extract_numeric_values(span_data):
    """
    크롤링 결과에서 숫자 값만 추출하는 함수
    
    Args:
        span_data: crawl_span_values() 함수의 반환값
    
    Returns:
        list: 숫자로 변환 가능한 값들의 리스트
    """
    numeric_values = []
    
    for item in span_data:
        text = item['text']
        try:
            # 쉼표 제거 후 숫자로 변환 시도
            num_value = float(text.replace(',', ''))
            numeric_values.append({
                'div_index': item['div_index'],
                'span_index': item['span_index'],
                'original_text': text,
                'numeric_value': num_value
            })
        except ValueError:
            # 숫자가 아닌 경우 무시
            continue
    
    return numeric_values

In [28]:
def create_simple_numeric_dataframe(numeric_data):
    if not numeric_data:
        print("숫자 데이터가 없어서 DataFrame을 생성할 수 없습니다.")
        return pd.DataFrame()
    
    # 숫자 값만 추출해서 DataFrame 생성
    numeric_values_only = [item['numeric_value'] for item in numeric_data]
    
    df = pd.DataFrame({
        'value': numeric_values_only
    })
    
    return df

In [32]:
data = crawl_score_values()
numbers = extract_numeric_values(data)


score_df = pd.DataFrame({'총득점': [sum(item['numeric_value'] for item in numbers)]})
score_df

   총득점
0  4.0

In [33]:
def crawl_pitcher_values():
  try:
    response = requests.get(url, headers=headers)
    response.raise_for_status()

    soup = BeautifulSoup(response.content, 'html.parser')

    # hometeam_player_name = soup.find_all('div', style="margin-top:.3rem;").get_text(strip=True)
    pitchers_name = [div.get_text(strip=True) for div in soup.find_all('div', style="margin-top:.3rem;")]

    return pitchers_name
  
  except Exception as e:
    print("오류 발생")
    return []

In [36]:
data2 = crawl_pitcher_values()

data2

['후라도', '네일']

In [39]:
pitcher_df = pd.DataFrame(data2, columns=['선수명'])
pitcher_df = pitcher_df.transpose()

In [40]:
pitcher_df

       0   1
선수명  후라도  네일